files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDhTCCAm0CFDk4eR6UsFecPX53fX5n4VxETUMqMA0GCSqGSIb3DQEBCwUAMH8x
      CzAJBgNVBAYTAlBMMQ8wDQYDVQQIDAZHREFOU0sxDzANBgNVBAcMBkxlYm9yazEh
      MB8GA1UECgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMSswKQYJKoZIhvcNAQkB
      Fhxtci52YWxlbnRpbi5hbmlraW5AZ21haWwuY29tMB4XDTIzMDcxNzE4NTcwMVoX
      DTI0MDcxNjE4NTcwMVowfzELMAkGA1UEBhMCUEwxDzANBgNVBAgMBkdEQU5TSzEP
      MA0GA1UEBwwGTGVib3JrMSEwHwYDVQQKDBhJbnRlcm5ldCBXaWRnaXRzIFB0eSBM
      dGQxKzApBgkqhkiG9w0BCQEWHG1yLnZhbGVudGluLmFuaWtpbkBnbWFpbC5jb20w
      ggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC9mnANVfF+yK1Q2Ml8DbfV
      5CHtEMwg78qSlfvVB9681lf9FJSRwdv548kTOWPbc17VeJTZ4ea5lu0Hareexd/I
      bM/zR5fCWL1i49vT2LQWpE/3IoPwrJTdimBXndrIEe1Y/h9qwQhGw70QduKUnJXe
      2zt27XuQDbMxpJgj5AgToUj9F9IuhIr7GJgZjXq7ToXEz8rx2xmP6mkngTyYk2k3
      1nLy7HdsGiNZrliWOEScqgyER5O0jp/zLNPF49r/B0lRUr7pbDtOGSxpo8v7Quog
      8pY3VZUvB1LvHAZ1InnTh5t9wRnKxOrb749uxXONaD9huAlhdebGD4WmDgpJ666p
      AgMBAAEwDQYJKoZIhvcNAQELBQADggEBAILKP4T9EYIQFMNos8etP+7POO9cBwar
      YT9A+hy158R1eWz+wppTsEzIbN/DWf1ehGD94GASuFd4VonTcB9EKra4gkFZ58D7
      mjqaKuNnm4xIwK9Rf2EXUkYRCtXLIbT7jqUFT1EKWbDX8ZHSAJ5reWTvntRfkIMq
      pkaTM/O3TiJc9uXCVAD5BU65quASyWJKAdrloossc56GLI5exV7CMn7Vio0MUc/w
      zHaVVrcZz0F/kGxlwo4PuG4WCnzzTn1lPxVSe8o7vrciGVCa/8juqJvwmUhBeHvH
      YMhSjIOnM0EIo8gfvEmfN9XiD0+j4FCQ/jEaLyZTs/qz42b5GK62AnQ=
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQC9mnANVfF+yK1Q
      2Ml8DbfV5CHtEMwg78qSlfvVB9681lf9FJSRwdv548kTOWPbc17VeJTZ4ea5lu0H
      areexd/IbM/zR5fCWL1i49vT2LQWpE/3IoPwrJTdimBXndrIEe1Y/h9qwQhGw70Q
      duKUnJXe2zt27XuQDbMxpJgj5AgToUj9F9IuhIr7GJgZjXq7ToXEz8rx2xmP6mkn
      gTyYk2k31nLy7HdsGiNZrliWOEScqgyER5O0jp/zLNPF49r/B0lRUr7pbDtOGSxp
      o8v7Quog8pY3VZUvB1LvHAZ1InnTh5t9wRnKxOrb749uxXONaD9huAlhdebGD4Wm
      DgpJ666pAgMBAAECggEAE2tFJTSDdK0IhUKC1lwQU02XhPCGu6vbl0pZvd6du0EH
      x4GrWsdcaJpiHoAvAEuvb5U3R56Js0HoOm19a3tQOXadkMjpG+xbT0zPl8G25ifD
      kef80/JVF+Cjj+24ueuOH+J9JMGq/5ZuH4jRmY91ERtqmnplwKIKk5/MPkbNZfce
      WN+MqTIOR45/EdrQc8y3+W2H5wZ/RsjFyOtJu4xzC9ENtONReBoYy5/3adOijawF
      Hq1HliF3mLxs4zkh7mdJrj1G5eM/m/Xxxup5W61vUMtCBEi8RgkyB6m0S+8h/R6T
      frt+LQp8KagVivtU+bB+PK1Tt3czKBO3x5qr5nB54QKBgQDvofSZOnwaMLy+8MXd
      /QeJttmSZimQodaVA/efJoaTQt6OEqemUyyhCgWOEEcARLH910h6MSl75j9OAxKK
      2I5tVUyo1Cdmpk2Xvc6UAkJfQpw+kV4cOBabXZGAri7F2ZhKRhu/KOLicnc1/FAL
      AQ0va/3aG3+OieBA+8F0WSkQWQKBgQDKjbRhCasw7nw0X/ssoPETN/F/gtboyq6w
      upDsJHpA6vGGHxLZroa/LrTjqjOTmrNFioNPC4pgBrXVo1BZVLeTeKLBx5LdGGY1
      CGzjTD1FF/Z8laSc5BTmLhf7hGbWuJcgHtPIUcjQqBXWdJb0Ft55Ta706yzP9m7L
      aIoaprVG0QKBgQDH64I5ZAWthAOz+QPbFAJ57kbOUNVUiPCRGeI4sNeNfDhYp0+e
      /704DThdMU9K9gTZFgatit5lM86UsxOBKvKIXKW8JGNKzGvnsL7r1IazGstnl7fA
      KzsRG5sMlEUJY2Qecycq8F15Nq4mJ/5Pb+0kJyB+Gnrs3DJvhJn9C3Wq4QKBgQCj
      LnJJUv7F1vvdPg4esDJHp2Q5s/Drbo459rPWarTLI/wcb2BCWuZXk4tLds1CdvlC
      ZwrOXZ/HKODJEl8i+KtEdYW508yvrn547ya6H6ukxF9hkzUg6Gcl4bCUguBO0DuA
      NxWrZqf/4cpmEVujneDxnPH8gpKBoCk2WiwYuIGGYQKBgQDoDy/Qsj6yl+7MIUTq
      kevcvvSDDH5x0+J8eEXhJrXBXUzurN6p6XqZtYB7JDQ0yO2YvYQ2sTmGNe5lnEv9
      77GLOS6Lsq1Z3onbSIaySiy5cjaG+xrc64gquMSkvViy7DCl4R75r+fvt0cDOz4v
      b8bwOxk/2CLEG3dwKjBmNX86xA==
      -----END RSA PRIVATE KEY-----
