files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDuzCCAqMCFEzj5S+QEHxtbGKS4YN+gBQB7My5MA0GCSqGSIb3DQEBCwUAMIGZ
      MQswCQYDVQQGEwJQTDEPMA0GA1UECAwGR2RhbnNrMQ8wDQYDVQQHDAZMZWJvcmsx
      ITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZDEYMBYGA1UEAwwPVmFs
      ZW50aW4gQW5pa2luMSswKQYJKoZIhvcNAQkBFhxtci52YWxlbnRpbi5hbmlraW5A
      Z21haWwuY29tMB4XDTIzMDcyMTEyNDAzOFoXDTI0MDcyMDEyNDAzOFowgZkxCzAJ
      BgNVBAYTAlBMMQ8wDQYDVQQIDAZHZGFuc2sxDzANBgNVBAcMBkxlYm9yazEhMB8G
      A1UECgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMRgwFgYDVQQDDA9WYWxlbnRp
      biBBbmlraW4xKzApBgkqhkiG9w0BCQEWHG1yLnZhbGVudGluLmFuaWtpbkBnbWFp
      bC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCtcHolsHYA5ulA
      pkgBRiH5m3qbeByfHLg5O/fV87aKR/LAl1nu3iauZ0uo9Qrq+9NbKJvlhsojkDyz
      dYVv/UQY6/k+QUDaXr8RJXfVfmduGPWsE0jPw0mYUcwGVzA1c3Robxm2h3leY/y/
      e8iv7DTGeGXoYTQFOBfWPTrQEbwLZdaWzQeGvXKkDmnLpbvGO3ZGccHjHVRNnV3e
      Gq7svvEZo9VrJaB36NDI5cuGebcVKy9w6q9QYBQdiH+Lcb6jlvLEdCITjReiGGAJ
      GkkM805vEre/G4v+/NTEmL2bU4tsuV0R/oni6FdGt+UVlGeeTX5J9jFGrC21qbLa
      XLmv5SSLAgMBAAEwDQYJKoZIhvcNAQELBQADggEBADE5J3+4yRdRPNXaskGIfaod
      /4RavIRUoy5vRl4bhXlxBJ9fmE9VioKCKc+uPAnPUGHM2XZi9vTZykRUKSVU7n6r
      CegLWHm2A2fKAMbzrEuxPDWBYzgGaasKBRdK4KjPWyhnt0zjYfg1awXul5a9r5EB
      3MPB0g2Mpwd/J27WP7DUsPxN8ZDthaoUsjUE+wBIg8ODwkVuToglIWF+wQgmrgzs
      tPPK1a+6A+rQSkEUV6fGhpJu9RTtrt8e6zi1BY5Zx9q5mE5EZcaLni9SH6g98g6M
      9g4RoVDcGBfQXD0bkB0tIpd+M4N0nZgHB0hAiArqHmG52ISwydqLr34GTxjpIcU=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN PRIVATE KEY-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCtcHolsHYA5ulA
      pkgBRiH5m3qbeByfHLg5O/fV87aKR/LAl1nu3iauZ0uo9Qrq+9NbKJvlhsojkDyz
      dYVv/UQY6/k+QUDaXr8RJXfVfmduGPWsE0jPw0mYUcwGVzA1c3Robxm2h3leY/y/
      e8iv7DTGeGXoYTQFOBfWPTrQEbwLZdaWzQeGvXKkDmnLpbvGO3ZGccHjHVRNnV3e
      Gq7svvEZo9VrJaB36NDI5cuGebcVKy9w6q9QYBQdiH+Lcb6jlvLEdCITjReiGGAJ
      GkkM805vEre/G4v+/NTEmL2bU4tsuV0R/oni6FdGt+UVlGeeTX5J9jFGrC21qbLa
      XLmv5SSLAgMBAAECggEAE361lB/yG6bY6BXouQ/viLWDwg7ttKrPQEuvz2I+DewJ
      asF4b+OTmH3u4LZufDxDJRd68oFEnlu7nvZiQdTHfz+i++7swb7tnhlGj35OVO9E
      Sgu+3u+WCaOEGeBaAGASYRy/2KcAqu31PnbE95VG11o4Jjcq2D1WXJP0VOfxaZxg
      22us7m7vnfBZswMuUWhwpH+CidGu7BJVBsZU7IOf5cMUb+3GKcHHI1sj8WW9B7+a
      mBS3GwpxkjzGqALtafA5lYfk6azoZEVzZa7qwrB5jIOGh42IcTyyNpcRlpJ5nyE6
      u9lD2P9L9I7e5BnI3pcN1CwpuLmxKWnTWMpgM8s17QKBgQDgoh1/dTwv8H4B18z6
      5e9PllYVm3W9SqEmV0PDz3JrYob80MYRDvP/NWWzWkKN+Q7HzexoZSjy1fXJzgDf
      K6YVUkGYCpBK1sz2STTwCjulc5YdH2DVSP3FH4eN8AELJflWF050Ix1qK2u69ZlQ
      43lzMWF3fz/2a38b2YFE3svmBQKBgQDFqFoZXMPKlfTi7UzUqg7huZKcMhnLLsxt
      +rCh3N3/NkDcCwyNUuQSZrZ8+Caak0VHT5zX8nEpbDCFppavg/pDvzDoZsoGbIgV
      hg7Kk4DLwIcLomuiyeeEtsxWInwBaS1TqBmVv67z2oI0nvnAetpIvPDAoQZcrdpJ
      WJ2QOuvVTwKBgGc6eL3K/Ua2iOGF7z/ZjLkRSCwTze6YLig1cAG7AkTQ+WGS+4J5
      Ua2VN1BNiUo/CwjM2/g5jLDTnGkJzyK/p0ojC9u39wk9XuFLURWCTljBHlnxwokh
      SuVckOmsQn6CC+wBN99tB6Zzn8VB+hvO/U/vgG/uvVEbo0UEFkC09hSVAoGADDJT
      PPVob3vJXKdf8k98E5mr3k+JH+yHWNH7TEGgwTrLzcgwwhe3Uxtbb2KwnyEvSTM0
      bm7bZL70T4r0CWiPbNbDYdPV64eO7iUTjJSFgg0jSCiBk835p0rQWRBPrpaa4Wqi
      CYeGeC2nky+sIaBzD8H46SoGhnmD2rrJHjlEjCkCgYBkdD8+xyAjeyW0+bgCkzMX
      SIS00icuUOCMujlg8Lguo9ID+sgXN0MtHJpeucDUAsTE+HdnMhlxqJDLLq1+1TKz
      FXHivsYlcmMKeQxRUzS6VJYC/GOOoi6lORG4FjCFE6u6p8kRPf2xncwUn/LAxZro
      ozrF5buTZ1U7xpgF9M/zCw==
      -----END PRIVATE KEY-----

# Note:
# Avoid committing a configuration file that contains your private key
# to source control. After you have tested the configuration and
# confirmed that it works, store your private key in Amazon S3 and
# modify the configuration to download it during deployment.
# For instructions, see
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/https-storingprivatekeys.html